.sidebarCloseBtn{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    margin: auto;
    text-align:center;
    display:flex;
    align-items: center;
    z-index:0;
    &:hover{
        background: rgba(34, 195, 94, 0.58);
        cursor: pointer;
        color: white;
    }
}
